<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="js/utils.js"></script>
    <title>Algotrading</title>
  </head>

  <body>
    <header>
      <h1>Algotrading</h1>
    </header>
    <section>
      <a href="output.html" target="_blank">Ver resultados</a>
    </section>
    <section>
      <h3>
        Search Contacts
        <span class="htmx-indicator"> Searching... </span>
      </h3>
      <select
        name="strategy"
        id="strategy-selector"
        hx-trigger="load"
        hx-get="http://localhost:8080/strategies"
        hx-target="this"
        hx-swap="innerHTML"
        hx-indicator=".htmx-indicator"
      ></select>
      <input
        class="form-control"
        type="search"
        name="search"
        placeholder="Begin Typing To Search Assets..."
        hx-get="http://localhost:8080/assets"
        hx-trigger="search"
        hx-target="#searchResults"
        hx-indicator=".htmx-indicator"
      />
      <table class="table">
        <thead>
          <tr>
            <th>Symbol</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody id="search-results"></tbody>
      </table>

      <div class="results-container">
        <div class="results-column">
          <h3>Search Results</h3>
          <table
            class="table"
            id="searchResults"
            hx-target="#selectedResults"
            hx-swap="outerHTML"
            hx-on::after-swap="filterResults()"
          >
            <thead>
              <tr>
                <th>Symbol</th>
                <th>Name</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="results-column" style="margin-left: 20px">
          <h3>Selected Results</h3>
          <table
            class="table"
            id="selectedResults"
            hx-trigger="click"
            hx-boost="true"
          >
            <tr>
              <th>Symbol</th>
              <th>Name</th>
            </tr>
          </table>
          <!-- Selected results will be loaded here -->
        </div>
      </div>
      <div>
        <label for="start">Start date:</label>
        <input
          type="date"
          name="start"
          id="backtest-start"
          value="2023-01-01"
        />
        <label for="end">End date:</label>
        <input type="date" name="end" id="backtest-end" value="2023-12-31" />
      </div>
    </section>
    <section>
      <h3>Backtesting Results</h3>
      <div>
        <ul id="backtesting-results"></ul>
        <button
          hx-get="http://localhost:8080/backtest"
          hx-include="[id=selectedResults] tr input, [id=backtest-start], [id=backtest-end], [id=strategy-selector]"
          hx-target="#backtesting-results"
        >
          Get results
        </button>
      </div>
    </section>
  </body>
</html>
