{% from "macros/label.html" import label %}
{% from "macros/date_input.html" import date_input %}
<div class="grid gap-2">
  <div>
    {{ label("Strategy") }}
    <select
      name="strategy"
      id="strategy-selector"
      hx-trigger="load"
      hx-get="http://localhost:8080/strategies"
      hx-target="this"
      hx-swap="innerHTML"
      class="h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
    ></select>
  </div>

  <div>
    {{ label("Start Date") }}
    {{ date_input("backtest-start", "start", "Start Date", "2023-01-01") }}
  </div>
  <div>
    {{ label("End Date") }}
    {{ date_input("backtest-end", "end", "End Date", "2023-12-31") }}
  </div>
  <div class="relative">
    <button
      hx-get="http://localhost:8080/backtest"
      hx-include="[id=selectedResults] tr input, [id=backtest-start], [id=backtest-end], [id=strategy-selector]"
      hx-target="#backtesting-results"
      hx-indicator="#get-results-indicator"
      class="w-full inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 px-4 py-2 mt-auto bg-gray-900 text-white dark:bg-gray-800"
    >
      Get results
    </button>
    <div
      id="get-results-indicator"
      class="absolute top-2 right-2 flex items-center text-muted-foreground htmx-indicator"
    >
      <svg
        class="animate-spin h-5 w-5 mr-3"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="none"
        viewBox="0 0 24 24"
      >
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="white"
          stroke-width="4"
        ></circle>
        <path
          class="opacity-75"
          fill="white"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.96 7.96 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        ></path>
      </svg>
    </div>
  </div>
</div>
