    {% for asset in assets %}
        <tr id="id-{{asset.id}}" onclick="addToSelection(id)">
            <input type="hidden" name="symbol" value="{{ asset.symbol }}" />
            <td>{{ asset.symbol }}</td>
            <td>{{asset.name}}</td>
        </tr>
    {% endfor %}
