<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/output.css" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="/static/js/utils.js"></script>
    <title>Algotrading</title>
  </head>

  <body>
    <header class="flex items-center h-16 px-4 border-b shrink-0 md:px-6 mb-8">
      <a class="flex items-center gap-2 text-lg font-semibold" href="#">
        <svg
          fill="#000000"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          id="icon"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <style>
              .cls-1 {
                fill: none;
              }
            </style>
          </defs>
          <path
            d="M30,15H16V6a2.0023,2.0023,0,0,0-2-2H6A2.0023,2.0023,0,0,0,4,6v9H2v2H16v9a2.0023,2.0023,0,0,0,2,2h8a2.0023,2.0023,0,0,0,2-2V17h2ZM6,6h8v9H6ZM26,26H18V17h8Z"
          />
          <rect
            id="_Transparent_Rectangle_"
            data-name="&lt;Transparent Rectangle&gt;"
            class="cls-1"
            width="32"
            height="32"
          />
        </svg>
        <span class="">Algotrading</span>
      </a>
    </header>
    <div class="container mx-auto">
      <div id="errors"></div>
      <section class="grid grid-cols-12 gap-4 items-start">
        <div class="col-span-12 lg:col-span-5">
          <label
            class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm"
            for="search"
          >
            Search
          </label>
          <div class="relative">
            <input
              class="form-control flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              type="search"
              name="search"
              placeholder="Begin Typing To Search Assets..."
              hx-get="http://localhost:8080/assets"
              hx-trigger="search"
              hx-target="#searchResults"
              hx-indicator="#search-indicator"
            />
            <div
              id="search-indicator"
              class="absolute top-2 right-5 flex items-center text-muted-foreground htmx-indicator"
            >
              <svg
                class="animate-spin h-5 w-5 mr-3"
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.96 7.96 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </section>
      <section class="grid grid-cols-12 gap-4 items-start">
        <div
          class="search-table-container row-start-1 col-span-12 lg:col-span-5 md:col-span-9"
        >
          <label
            class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm"
          >
            Found Assets
          </label>
          <div class="border rounded-lg overflow-auto max-h-[300px]">
            <div class="relative w-full overflow-auto">
              <table class="w-full caption-bottom text-sm">
                <thead class="[&amp;_tr]:border-b">
                  <tr
                    class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
                  >
                    <th
                      class="h-12 px-4 text-left align-middle text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 font-normal"
                    >
                      Name
                    </th>
                    <th
                      class="h-12 px-4 text-left align-middle text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 font-normal"
                    >
                      Symbol
                    </th>
                  </tr>
                </thead>
                <tbody
                  class="[&amp;_tr:last-child]:border-0"
                  id="searchResults"
                  hx-target="#selectedResults"
                  hx-swap="outerHTML"
                  hx-on::after-swap="filterResults()"
                ></tbody>
              </table>
            </div>
          </div>
        </div>
        <div
          class="select-table-container col-span-12 lg:col-span-5 lg:row-start-1 md:col-span-9 md:row-start-2"
        >
          <label
            class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm"
          >
            Selected Assets
          </label>
          <div class="border rounded-lg overflow-auto max-h-[300px]">
            <div class="relative w-full overflow-auto">
              <table
                id="selectedResults"
                hx-trigger="click"
                hx-boost="true"
                class="w-full caption-bottom text-sm"
              >
                <thead class="[&amp;_tr]:border-b">
                  <tr
                    class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
                  >
                    <th
                      class="h-12 px-4 text-left align-middle text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 font-normal"
                    >
                      Name
                    </th>
                    <th
                      class="h-12 px-4 text-left align-middle text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 font-normal"
                    >
                      Symbol
                    </th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <!-- Selected results will be loaded here -->
          </div>
        </div>

        <div class="grid gap-2 col-span-12 md:col-span-3 lg:col-span-2">
          <div>
            <label
              class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm"
            >
              Strategy
            </label>
            <select
              name="strategy"
              id="strategy-selector"
              hx-trigger="load"
              hx-get="http://localhost:8080/strategies"
              hx-target="this"
              hx-swap="innerHTML"
              class="h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            ></select>
          </div>

          <div>
            <label
              class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm"
            >
              Start Date
            </label>
            <input
              class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              placeholder="Start Date"
              type="date"
              name="start"
              id="backtest-start"
              value="2023-01-01"
            />
          </div>
          <div>
            <label
              class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm"
            >
              End Date
            </label>
            <input
              class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              placeholder="End Date"
              type="date"
              name="end"
              id="backtest-end"
              value="2023-12-31"
            />
          </div>
          <div class="relative">
            <button
              hx-get="http://localhost:8080/backtest"
              hx-include="[id=selectedResults] tr input, [id=backtest-start], [id=backtest-end], [id=strategy-selector]"
              hx-target="#backtesting-results"
              hx-indicator="#get-results-indicator"
              class="w-full inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 px-4 py-2 mt-auto bg-gray-900 text-white dark:bg-gray-800"
            >
              Get results
            </button>
            <div
              id="get-results-indicator"
              class="absolute top-2 right-2 flex items-center text-muted-foreground htmx-indicator"
            >
              <svg
                class="animate-spin h-5 w-5 mr-3"
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="white"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="white"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.96 7.96 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="col-span-12" id="backtesting-results"></div>
      </section>
    </div>
  </body>
</html>
