{% from "macros/assets_table.html" import assets_table %}
{% extends "shared/_layout.html" %} {% block content %}
<body>
  <div class="container mx-auto">
    <div id="errors"></div>
    <section class="grid grid-cols-12 gap-4 items-start">
      <div class="col-span-12 lg:col-span-5">
        {% include "partials/assets_search_bar.html" %}
      </div>
    </section>
    <section class="grid grid-cols-12 gap-4 items-start">
      <div
        class="search-table-container row-start-1 col-span-12 lg:col-span-5 md:col-span-9"
      >
        {{ assets_table("Found Assets", "searchResults") }}
      </div>
      <div
        class="select-table-container col-span-12 lg:col-span-5 lg:row-start-1 md:col-span-9 md:row-start-2"
      >
        {{ assets_table("Selected Assets", "selectedResults") }}
      </div>
      <div class="col-span-12 md:col-span-3 lg:col-span-2">
        {% include "partials/backtest_form.html" %}
      </div>
    </section>
    <section>
      <div class="col-span-12" id="backtesting-results"></div>
    </section>
  </div>
</body>
{% endblock %}
